@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body{
    font-family: 'Roboto', sans-serif;
  }

  /* --------------- Order Confirmation ---------------- */

.order-confirmation{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
    margin: 30px 0;
    padding: 0 20px;
    text-align: center;
}


.order-confirm-img{
    width: 10em;
}

.confirm-order-no{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: .5rem;
}

.confirm-order-status{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.status{
    background-color: rgb(252, 25, 25);
    color: #f2f2f2;
    padding: 4px 8px;
    border-radius: 12px;
}

.return-home-btn{
    margin-bottom: 15px;
    width:max-content;
    padding: 8px 16px;
    background-color: #2196F3;
    color: #f2f2f2;
    border: none;
    border-radius: 12px;
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
}

.return-home-btn a{
    color: #f2f2f2;
}

.return-home-btn:hover{
    background-color:  #45a049;
}